/* Forms */
.form-control {
    border-color: #E5E5E5;
    height: 44px;
    outline: none;
    box-shadow: none;

    &:focus {
        box-shadow: none;
    }
    
    @include media-breakpoint-up(md) {
        height: 50px;
    }
}

textarea.form-control {
    border-color: #E5E5E5;
    height: 80px;

    @include media-breakpoint-up(md) {
        height: 110px;
    }
}