// Flex
@mixin flex-left ($flexLength, $flexHeight) {
	-webkit-box-flex: 0;
    -webkit-flex: 0 0 $flexLength;
    -ms-flex: 0 0 $flexLength;
    flex: 0 0 $flexLength;
    max-width: $flexLength;
    height: $flexHeight;
}

@mixin flex-right ($flexLengthR) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% - #{$flexLengthR});
    -ms-flex: 0 0 calc(100% - #{$flexLengthR});
    flex: 0 0 calc(100% - #{$flexLengthR});
    max-width: calc(100% - #{$flexLengthR});
}

@mixin background-color {
    background: linear-gradient(90deg, #5cc3ee 0%, #5d91ef 29%, #5e5ef0 50%, #947be1 73%, #ca97d2 100%);
    border-image-width: 0;
}

@mixin color-text {
    background: linear-gradient(-120deg, #ca97d2f0, #5e5ef0f0 46%, #5cc3eef0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin border-color {
    border-image-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(70deg, #57b8e0, #5762e2, #be8ec6);
}
